
.home-page {
  background-color: #121212;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 200px;
  margin-bottom: 20px;
}

.home-about {
  text-align: center;
  margin: 30px;
  max-width: 800px;
}

.home-images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.greed,
.desire,
.greed-blush,
.buff-greed,
.gift-greed,
.greed-jar {
  max-width: 250px;
  margin: 10px;
}

.home-login {
  text-align: center;
  margin: 30px;
  max-width: 800px;
}

.homepage-login-button {
  padding: 10px 30px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 25px;
  background-color: #9711bc;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.homepage-login-button:hover {
  background-color: #f7f13b;
  color: #3a0275;
}

.home-footer {
  text-align: center;
}
