@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.login-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
  background-image: url("../../images/darkmagback.webp");
  background-color: black;
  background-size: cover;
  background-position: center;
  font-family: "Courier New", Courier, monospace;
}

.login-title {
  
  color: #f8d347;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  animation: fadeIn 1.2s linear;
}

.login-form {
  
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
  border-radius: 4px;
  animation: fadeIn 1.3s linear;
}

.login-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login-label {
  margin-bottom: 5px;
  color: #f8d347;
}

.login-input {
  
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-btn {
  
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}

.login-error {
  
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  margin-bottom: 20px;
}

.login-link {
  color: #f8d347;
  text-align: center;
  animation: fadeIn 1.4s linear;
}

.login-link a {
  color: #f8d347;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
